################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PromotionEngineSin/RuleEnginePattern/obj/Debug/netcoreapp3.0
/src/PromotionEngineSin/.vs/PromotionEngineSin/v16/Server/sqlite3
